.project-post {
  font-family: var(--font-montserrat);
  padding: 10px 150px 20px 150px;
  background-color: #fff;
  margin: 0, auto;
  max-width: 1200px;
}

.main-post-header {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
}

.main-post-header img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  position: relative;
}

.main-post-body {
  padding: 40px;
  width: 100%;
  text-align: justify;
}

.main-post-body h1 {
  font-family: var(--font-braind);
  font-size: 35px;
  font-weight: 700;
  padding: 0;
  color: var(--text-main);
  margin-bottom: 20px;
}

.main-post-body p {
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #8c8c8c;
}

.main-post-body span {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  text-align: justify;
}

.main-post-admin-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 10px;
}

.main-post-admin-tools span svg {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin: 2px;
  color: var(--bcg-secondary-dark);
  font-family: var(--font-montserrat);
}

.main-post-admin-tools span svg:hover {
  color: var(--text-selected);
  cursor: pointer;
}

.project-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0 15px 0;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .project-post {
    padding: 2px;
  }
}
