.navbar-fixed-top {
  position: absolute;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  z-index: 3;
  top: 0;
  font-size: 20px;
  user-select: none;
}

.navbar-fixed-top .container-md {
  padding: 10px 120px 20px 120px;
}

.navbar-static-top {
  position: fixed;
  background-color: rgba(32, 30, 30, 0.897);
  width: 100%;
  overflow: hidden;
  z-index: 10;
  font-size: 20px;
  user-select: none;
}

.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.donate-button {
  padding: 5px 25px;
  border-radius: 17px;
  color: white;
  border: none;
  background-color: #5eae79;
  z-index: 3;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  color: rgba(255, 255, 255, 0.561) !important;
  font-size: 20px;
}

.languages span {
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
}

.languages span:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.787) !important;
  user-select: none;
}

#responsive-navbar-nav:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-border: none !important;
  -webkit-outline: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-border: none !important;
  -webkit-outline: none !important;
}

.navbar-nav a:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-border: none !important;
  -webkit-outline: none !important;
}

/* M E D I A  S C R E E N */

@media screen and (max-width: 768px) {
  .languages {
    margin-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-fixed-top .container-md {
    padding: 5px 20px;
  }
}

/* A N I M A T I O N  */

.navbar-static-top {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
